<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Knex Relationships</title>
  </head>
  <body>
    <a href="/new"><button type="button" name="button">Add User</button></a>
    {{{body}}}
  </body>
</html>
