<h1>Upload a blog</h1>
<a href="/"><button type="button" name="button">Home</button></a>
<form id="form" action="/blog" method="post">
  User Id: <br><input type="text" name="user_id" ><br>
  <br>Title:<br><input type="text" name="title" >

  <br><br>Content:<br><textarea rows="4" cols="50" name="content" form = 'form'></textarea>
    <br><button type="submit" name="submit">Submit</button>

</form>
