<form class="form" action="/new" method="post">
  Name:<input type="text" name="name" >
  Email:<input type="text" name="email">
  Url:<input type="text" name="url">
  <button type="submit" name="submit">Submit</button>

</form>
