<!DOCTYPE html>
<html>
  <head>
    <title>EDA Phase 1 Express Boilerplate</title>
  </head>
  <body>
    <ul>

      <li>Name: {{ name}} Email: {{ email}} Url: {{ url}}</li>

    </ul>
  </body>
</html>
